.content {
    padding: 20px;
}

a {
    color: #742cc5;
}

a:hover {
    color: #2f045f;
    text-decoration: none;
}

pre {
    font-family: inherit;
    font-size: inherit;
}

colgroup col.highlight {
    background-color: #eeeeee;
}