{% extends '_base.html' %}
{% block title %}Epics{% endblock %}
{% block epics %}active{% endblock %}

{% block content %}
<table class="table table-sm table-striped">

{% for label in cards.keys() %}
    <thead class="thead-dark">
        <th colspan="4">{{ label }}</th>
    </thead>
    <thead class="thead-light">
        <th>Due Date</th>
        <th>Name</th>
        <th>Members</th>
        <th>Description</th>
    </thead>
    <tbody>
    {% for card in cards[label] %}
        <tr>
            {{ render_due_date(card) }}
            {{ render_name(card) }}
            {{ render_members(card) }}
            {{ render_description(card) }}
        </tr>
    {% endfor %}
    </tbody>

{% endfor %}

</table>
{% endblock %}