{% extends '_base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<table class="table table-sm table-striped">

{% for label in cards.keys()|sort %}
    <thead class="thead-dark">
        <th colspan="4">{{ label }}</th>
    </thead>
    <thead class="thead-light">
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
    {% for card in cards[label] %}
        <tr>
            {{ render_name(card) }}
            {{ render_description(card) }}
        </tr>
    {% endfor %}
    </tbody>

{% endfor %}

</table>

<a href="/month?month={{ list_id }}&text=true">Text View</a>

{% endblock %}